<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SafeChannel{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'moderation/styles.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'moderation/logo.png' %}" alt="Logo" />
            </a>
        </div>
        <div class="auth-links">
            {% if user.is_authenticated %}
                <p>Hi, {{user.username}}</p>
                <a href="{% url 'admin_deleted_comments' user.channel_id%}"><button>Access</button></a>
                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}"><button>Login</button></a>
                <a href="{% url 'register' %}"><button>Register</button></a>
            {% endif %}
        </div>
    </header>
    
    <main>
        {% if messages %}
        <ul class="error-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p class='footer-text'>&copy; {{ current_year }} SafeChannel. All rights reserved.</p>
    </footer>
</body>
</html>