{% extends 'moderation/base.html' %}

{% block title %}Blocked users{% endblock %}

{% block content %}
<h1>Blocked users</h1>
<p>There are {{total}} users blocked

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Comment</th>
            <th>Blocked at</th>
            <th>Expires at</th>
            <th>Remaining time</th>
            <th>Unblock</th>
        </tr>
    </thead>
    <tbody>
        {% for user in blocked_users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.comment.comment|truncatechars:50 }}</td>
                <td>{{ user.blocked_at }}</td>
                <td>
                    {% if user.is_permanent %}
                        <span>Permanent Block</span>
                    {% else %}
                        {{ user.expires_at }}
                    {% endif %}
                </td>
                <td>
                    {% if user.is_permanent %}
                        <span>Permanent Block</span>
                    {% else %}
                        {{ user.remaining_time_display }}
                    {% endif %}
                </td>
                <td>
                    <form action="{% url 'unblock_user' user.username %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Unblock</button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No blocked users found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'admin_deleted_comments' user.channel_id%}"><button>See Deleted Comments</button></a>
{% endblock %}
