{% extends 'moderation/base.html' %}

{% block title %}Deleted Comments{% endblock %}

{% block content %}
    <form method="GET" action="{% url 'admin_deleted_comments' channel_id %}" class="search-form">
        <input type="text" name="search" placeholder="Search by post or user" value="{{ search_query }}" class="search-input">
        <button type="submit">Search</button>
    </form>
    
    <table>
        <thead>
            <tr>
                <th>Comment</th>
                <th>From User</th>
                <th>Post Text</th>
                <th>Deleted On</th>
                <th>Is blocked(✔/✖)</th>
                <th>Block the user(minutes)</th>
            </tr>
        </thead>
        <tbody>
            {% for comment in deleted_comments %}
                <tr>
                    <td>
                        <div class="comment-container">
                            <span class="comment-cell">
                                {{ comment.comment|truncatechars:50 }}
                            </span>
                            <button onclick="toggleComment('full-comment-{{ forloop.counter }}')">Show the comment</button>
                        </div>
                        <div id="full-comment-{{ forloop.counter }}" class="full-comment" style="display:none;">
                            {{ comment.comment }}
                        </div>
                    </td>
                    <td>{{ comment.user }}</td>
                    <td>{{ comment.post }}</td>
                    <td>{{ comment.deleted_at }}</td>
                    <td>
                        <span>
                            {% if comment.user in blocked_users %}
                                ✔ 
                            {% else %}
                                ✖ 
                            {% endif %}
                        </span>
                    </td>
                    <td>
                        <div class="block-user-form">
                            <form method="POST" action="{% url 'block_user' comment.user %}">
                                {% csrf_token %}
                                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                <input type="number" name="block_duration" min="1" required placeholder="Min" title="Block duration in minutes">
                                <button type="submit">Block</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No deleted comments found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'blocked_users' user.channel_id%}"><button>See all blocked users</button></a>
    <div class="pagination-container">
        {% if deleted_comments.has_previous %}
            <button><a href="?page={{ deleted_comments.previous_page_number }}&search={{ search_query }}" class="form-button">Previous</a></button>
        {% endif %}
        
        {% if deleted_comments.has_next %}
    <button><a href="?page={{ deleted_comments.next_page_number }}&search={{ search_query }}" class="form-button">Load More</a></button>
        {% endif %}
    </div>

    <script>
        function toggleComment(commentId) {
            var fullComment = document.getElementById(commentId);
            if (fullComment.style.display === "none" || fullComment.style.display === "") {
                fullComment.style.display = "block";
            } else {
                fullComment.style.display = "none";
            }
        }
    </script>
{% endblock %}