{% extends 'moderation/base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class='outer-container'>
    <div class='text-container'>
        <h2 class= "home-text">tired of <em class="emphasized">toxic</em> comments and <em class="emphasized">bots</em> in your Telegram channel?</h2>
        <p class="home-description">We use advanced Machine learning models to detect these messages</p>
        <p class="home-description">Our software helps you moderating your channel by automatically deleting toxic messages and spam</p>
        <p class="home-description">On our site you will be able to see all deleted comments and block users</p>
    </div>    
    <div class="home-container">
        <h2>Make your channel safe with SafeChannel</h2>
        <div class="contact-form-container">
            <h2 class='contact-h2'>Contact Us</h2>
            <form method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" required class="form-input" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="description">Description (optional):</label>
                    <textarea name="description" class="form-input" rows="4" placeholder="Your telegram channel, problems ..."></textarea>
                </div>
                <button type="submit" class="form-button">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
